<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% block tital %} {% endblock %}
</head>
<body>
    <div class="main-container-div"> 
<!-- start of main-container-div -->
        <!-- header -->
        <div class="page-header-div">
                {% block page_header_div %} {% endblock %} 
        </div>
       <!-- nav bar div  -->
       <div class="nav-bar-div">
        {% block nav_bar %} {% endblock %}
       </div>
        <!-- content -->
        <div class="main-content-div">
            {% block main_content_div %} {% endblock %}
        </div>

        <!-- footer -->
        <div class="footer-div">
            {% block footer_div %} {% endblock %}
        </div>

<!-- end of main-container-div -->
    </div>
</body>
</html>